{
  "identities": [
    {
      "name": "anonymous",
      "actions": []
    },
    {
      "name": "admin",
      "credentials": [
        {
          "accessKey": "{{ seaweedfs_s3_access_key }}",
          "secretKey": "{{ seaweedfs_s3_secret_key }}"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write",
        "List",
        "Tagging"
      ]
    }
  ],
  "sts": {
    "signingKey": "{{ seaweedfs_sts_signing_key }}"
  }
}